.uchat {
    background-color:#28221D;
    width:100%;
    padding:0;
    margin:0;
    border:1px solid #28221D;
    border-radius:5px;
   -moz-border-radius:5px
}
.uchat .ut {
    background-color: #fff;
    color:#fff;
    height:20px;
    line-height:20px;
    text-align:center;
    font-size:11px;
    font-weight:bold;
}
.uchat .uc {
    background-color:#39302b;
    height:300px;  
    margin:0;
    padding:5px;
    overflow:auto;
}
.uchat .uc table {
    background-color:#4b403b;
    margin:2px auto 2px auto;
    padding:2px;
    text-align:left;
    font-size:11px;
    font-family: Arial;
    border:1px solid #5c4e47;
    border-radius:5px;
    -moz-border-radius:5px;
}
.uchat .user {
    padding:3px;
    color:#ffffff;
    font-size:12px;
}
.uchat .user a {
    text-decoration:none;
    line-height:5px;
    color:#9cc501;
    outline:none;
}
.uchat .user a:hover {
    text-decoration:none;
    color:#fff;
}
.uchat .user img {
    margin-bottom:-2px;
    cursor: pointer;
    border:none;
}
.uchat .data {
    padding:3px;
    color:#dcdcdc;
    font-size:10px;
}
.uchat .message {
    background-color:#28221D;
    padding:4px;
    color:#dcdcdc;
    text-align:left;
    font-size:11px;
    border-top:0 solid #ffffff;
    border-radius:5px;
    -moz-border-radius:5px;
}
.uchat .message a {
    text-decoration:none;
    line-height:5px;
    color:#fff;
    outline:none;
    text-shadow:0 0 2px #000;
}

.uchat .ub {
    background-color: #c9c9c9;
    width:100%;
    overflow:hidden;
}
.uchat .ub table {
    clear:both;
    text-align:center;
    padding-bottom:5px;
}
.uchat .ub table .addcom {
    font-size:10pt;
    font-weight:bold;
    text-align:center;
}
.uchat .ub span a {
 color:#9cc501;
}
.uchat .ub span a:hover {
 color:#ffffff;
}

.uchat .ub .addcom input {
    background-color:#EEEFFF;
    width:98%;
    color:#EFEFEF;
    margin:5px 2px 2px 2px;
    border:1px solid #000;
}
.uchat .ub .addcom span {
    width:93%;
    color:#fff;
    margin:5px 2px 2px 2px;
    line-height:25px;
}
.uchat .ub .addcom img {
    margin:5px 1px 0 1px;
    width:16px;
    height:16px;
    border:none;
    cursor: pointer;
    opacity:1.0;
    filter:proped("opacity=100");
}
.uchat .ub .addcom img:hover {
    opacity:0.8;
    filter:proped("opacity=80");
}
.uchat .ub .comform textarea {
    background-color:#4b403b;
    width:97%;
    color:#fff;
    height:46px;
    margin:0 2px 3px 2px;
    border:1px solid #5c4e47;
}
.uchat .ub .comform input {
    background:#4b403b;
    width:93%;
    color:#BC5B8A;
    height:52px;
    padding:10px;
    margin:0 2px 3px 2px;
    cursor: pointer;
    font-weight:bold;
    border:1px solid #5c4e47;
}
.uchat .ub .comform input:focus,
.uchat .ub .comform textarea:focus {
    border:1px solid #9c9c9c;
}
.uchat input::-moz-focus-inner {
    padding:0;
    margin:0;
    border:0;
}
.uchat .bottoms {
    line-height:10px;
    padding-top:10px;
}