* {
    font-size: 11px;
    text-decoration: none;
}

a:link, a:visited {
    color: #A3BA21;
    text-decoration: none;
}

table {
    empty-cells: show;
}

body {
    background: #DDDCD9;
    font: 12px/130% tahoma;
    margin: 0;
    padding: 0;
}

#body {
    display: none;
}

body#help_popup {
    padding: 1em;
}

body, td, th, tr {
    color: #AAA;
}

.wrapper {
    width: 990px;
    margin: 0 auto;
}

form {
    padding: 0;
    margin: 0;
}

input, button, select, textarea {
    font: 95%/115% tahoma;
    background: #4D423C;
    border: 1px solid #5B4E47;
    padding: 2px;
    border-radius: 4px;
    border: 1px
}

select {
    padding: 0;
}

select option {
    padding: 1px;
}

.button_submit, .button_reset {
    background: #CDE7FF url(img/submit_bg.png) no-repeat;
    border: 1px solid #2D2622;
    cursor: pointer;
    font-weight: normal;
}

input:hover, textarea:hover, button:hover, select:hover {
    border: 1px solid #87B721;
}

.button_submit:hover, .button_reset:hover {
    border: 1px solid #2D2622;
    background: url(/img/submit_bg.png) no-repeat 0 -140px #37A0AB;
}

input:focus, textarea:focus, button:focus, select:focus {
    border: 1px solid #454545;
}

input.input_check, input.input_radio {
    border: none;
    background: none;
}

h3.catbg input.input_check {
    margin: 9px 7px 0;
}

input[disabled].input_text {
    background-color: #EEE;
}

hr {
    color: #212121;
    border: none;
    height: 2px;
    background: #121212 url(/img/hr.png) repeat-x 0 bottom
}

h1, h2, h3, h4, h5, h6 {
    color: #FFF;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

fieldset {
    border: 1px dotted #5B4E47 !important;
    padding: 1em;
    margin: 0 0 0.3em 0;
}

a img {
    border: 0;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.floatright, .align_right {
    float: right;
}

.floatleft, .align_left {
    float: left;
}

.flow_auto {
    overflow: auto;
}

.flow_hidden {
    overflow: hidden;
}

.flow_hidden .windowbg, .flow_hidden .windowbg2 {
    margin-top: 2px;
}

.clear {
    clear: both;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}

.smalltext, tr.smalltext th {
    font-size: 11px;
}

.middletext {
    font-size: 12px;
    line-height: 1em;
}

.normaltext {
    font-size: 16px;
    line-height: 1.2em;
}

.largetext {
    font-size: 18px;
}

.centertext {
    margin: 0 auto;
    text-align: center;
}

.righttext {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

.lefttext {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}

.double_height {
    line-height: 2em;
}

.padding {
    padding: 0.7em;
}

.main_section, .lower_padding {
    padding-bottom: 0.5em;
}

ul.reset, ul.reset li {
    padding: 0;
    margin: 0;
    list-style: none;
}

blockquote.bbc_standard_quote, blockquote.bbc_alternate_quote {
    font-size: 12px;
    color: #CCC;
    line-height: 1.4em;
    background: url(../img/quote.png) 0.1em 0.1em no-repeat;
    border-right: 1px solid #564A46;
    border-bottom: 1px solid #564A46;
    padding: 1.1em 1.4em;
    margin: 0.1em 0 0.3em 0;
    overflow: auto;
}

blockquote.bbc_standard_quote {
    background-color: #4B403C;
}

blockquote.bbc_alternate_quote {
    background-color: #4B403C;
}

code.bbc_code {
    display: block;
    font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
    font-size: 12px;
    background: #1E1916;
    border-right: 1px solid #3F3633;
    border-bottom: 1px solid #3F3633;
    line-height: 1.5em;
    padding: 3px 1em;
    overflow: auto;
    white-space: pre;
    max-height: 24em;
}

.codeheader, .quoteheader {
    color: #DFDFDF;
    font-size: 100%;
    font-weight: 700;
    padding: 0 0.3em;
}

.codeoperation {
    font-weight: normal;
}

.bbc_link:link, .bbc_link:visited {
    color: #AA527C;
}

.bbc_size {
    line-height: 1.4em;
}

.bbc_color a {
    color: inherit;
}

.bbc_img {
    border: 0;
}

.bbc_table {
    font: inherit;
    color: inherit;
}

.bbc_table td {
    font: inherit;
    color: inherit;
    vertical-align: top;
}

.bbc_u {
    text-decoration: underline;
}

.bbc_list {
    margin: 0 auto;
}

.help {
    cursor: help;
}

.meaction {
    color: red;
}

.highlight {
    background-color: #FF0;
    font-weight: 700;
    color: #000 !important;
}

.highlight2 {
    background-color: #D1E1EF;
    color: #000 !important;
}

.titlebg, .titlebg2, thead tr.titlebg th, tr.titlebg td, tr.titlebg2 td {
    color: #9F9F9F;
    font-family: tahoma;
    font-size: 1em;
    font-weight: 700;
    background: url(../img/main_block.png) no-repeat -10px -120px;
}

.catbg, .catbg2, tr.catbg td, tr.catbg2 td, tr.catbg th, tr.catbg2 th {
    color: #FFF;
    font-family: tahoma;
    font-size: 1.1em;
    font-weight: 700;
    background: url(../img/main_block.png) no-repeat -10px -160px;
}

tr.titlebg td, tr.titlebg2 td {
    padding: 6px;
}

tr.catbg td, tr.catbg2 td, td.catbg, td.catbg2, tr.catbg th, tr.catbg2 th, th.catbg, th.catbg2 {
    padding: 6px;
}

tr.titlebg td a, tr.titlebg2 td a {
    color: #000;
}

tr.catbg td a, tr.catbg2 td a, .catbg a {
    color: #FFF;
}

tr.catbg th.smalltext {
    font-size: 0.9em;
}

tr.titlebg th.smalltext, thead tr.titlebg th a:link, thead tr.titlebg th a:visited {
    color: #000;
    font-size: 0.95em;
}

.windowbg, #preview_body {
    background-color: #2D2622;
}

.windowbg2 {
    background-color: #28221D;
}

.windowbg3 {
    background-color: #2D2622;
}

.pagesection {
    font-size: 0.9em;
    padding: 0 0 0.2em 0;
    overflow: hidden;
    margin-bottom: 1px;
}

div.pagesection div.floatright input {
    margin-top: 3px;
}

.pagelinks {
    padding: 0.6em 0 0.4em 0;
}

.additional_row {
    padding: 0.5em 0 0.5em 0;
}

table.table_grid thead tr.catbg th.smalltext {
    white-space: nowrap;
}

.approvebg {
    color: #000;
    background-color: #FFEAEA;
}

.approvebg2 {
    color: #000;
    background-color: #FFF2F2;
}

.approvetbg {
    color: #000;
    background-color: #E4A17C;
}

.approvetbg2 {
    color: #000;
    background-color: #F3BD9F;
}

.stickybg {
    background: #4B403A;
}

.stickybg2 {
    background: #564A43;
}

.lockedbg {
    background: #1E1916;
    font-style: italic;
}

.lockedbg2 {
    background: #1B1714;
    font-style: italic;
}

.post, .personalmessage {
    overflow: auto;
    line-height: 1.4em;
    padding: 0.1em 0;
}

.signature, .attachments {
    width: 98%;
    overflow: auto;
    clear: right;
    padding: 1em 0 3px;
    border-top: 1px solid #5B4E47;
    line-height: 1.4em;
    font-size: 0.85em;
}

.custom_fields_above_signature {
    width: 98%;
    clear: right;
    padding: 1em 0 3px;
    border-top: 1px solid #5B4E47;
    line-height: 1.4em;
    font-size: 0.85em;
}

.error {
    color: red;
}

.alert {
    color: red;
}

.birthday {
    color: #920AC4;
}

.event {
    color: #078907;
}

.holiday {
    color: #080;
}

.warn_mute {
    color: red;
}

.warn_moderate {
    color: #FFA500;
}

.warn_watch, .success {
    color: green;
}

a.moderation_link, a.moderation_link:visited {
    color: red;
    font-weight: 700;
}

.openid_login {
    background: white url(../images/openid.gif) no-repeat;
    padding-left: 18px;
}

.description, .plainbox {
    padding: 0.5em 1em;
    font-size: 0.9em;
    line-height: 1.4em;
    border: 1px solid #2D2622;
    background: #28221D;
    margin: 0 0 1em;
}

.information {
    padding: 0.5em 1em;
    font-size: 0.9em;
    line-height: 1.3em;
    border: 1px solid #AA527C;
    background: #95486B;
    margin: 0.3em 0 1em;
    color: #CCC;
}

.information p {
    padding: 1em;
    margin: 0;
}

p.para2 {
    padding: 1em 0 3.5em 0;
    margin: 0;
}

#ajax_in_progress {
    background: url(../img/loadingbar.png) repeat-x;
    color: #F96F00;
    text-align: center;
    font-size: 16pt;
    padding: 8px;
    width: 100%;
    height: 66px;
    line-height: 25px;
    position: fixed;
    top: 0;
    left: 0;
}

#ajax_in_progress a {
    color: orange;
    text-decoration: underline;
    font-size: smaller;
    float: right;
    margin-right: 20px;
}

table.table_grid {
    border-collapse: collapse;
}

table.table_grid td {
    padding: 3px;
    border-bottom: 1px solid #39302B;
    border-right: 1px solid #39302B;
}

dl.settings {
    clear: right;
    overflow: auto;
    margin: 0 0 10px;
    padding: 0;
}

dl.settings dt {
    width: 48%;
    float: left;
    margin: 0 0 10px;
    padding: 0;
    clear: both;
}

dl.settings dt.settings_title {
    width: 100%;
    float: none;
    margin: 0 0 10px;
    padding: 5px 0 0;
    font-weight: 700;
    clear: both;
}

dl.settings dt.windowbg {
    width: 98%;
    float: left;
    margin: 0 0 3px;
    padding: 0 0 5px;
    clear: both;
}

dl.settings dd {
    width: 48%;
    float: left;
    margin: 0 0 3px;
    padding: 0;
}

dl.settings img {
    margin: 0 10px 0 0;
}

dl.settings dt a img {
    position: relative;
    top: 2px;
}

h3.catbg, h3.catbg2, h3.titlebg, h4.titlebg, h4.catbg, .table_list tbody.header td {
    overflow: hidden;
    height: 31px;
    line-height: 32px;
    font-size: 1.1em;
    font-weight: 700;
}

h3.catbg a, h3.catbg, .table_list tbody.header td, .table_list tbody.header td a {
    color: #FFF;
}

h3.catbg2 a, h3.catbg2 {
    color: #FEB;
}

h3.catbg a:hover, .table_list tbody.header td a:hover {
    text-decoration: underline;
}

h3.catbg2 a:hover {
    color: #FFF;
    text-decoration: none;
}

h3.titlebg a, h3.titlebg, h4.titlebg, h4.titlebg a {
    color: #BBB;
}

h3.titlebg a:hover, h4.titlebg a:hover {
    text-decoration: underline;
}

h3.catbg img.icon, h4.titlebg img.icon {
    vertical-align: middle;
    margin: -2px 5px 0 0;
}

h4.catbg a.toggle img {
    vertical-align: middle;
    margin: -2px 5px 0;
}

h4.catbg span.left, h4.catbg2 span.left, h3.catbg span.left, h3.catbg2 span.left, .table_list tbody.header td span.left {
    float: left;
    display: block;
    width: 9px;
    height: 31px;
    background: url(../img/main_block.png) no-repeat 0 -160px;
}

h4.catbg, h4.catbg2, h3.catbg, h3.catbg2, .table_list tbody.header td.catbg {
    background: url(../img/main_block.png) no-repeat 100% -160px;
    padding-right: 9px;
}

h4.titlebg span.left, h3.titlebg span.left {
    float: left;
    display: block;
    width: 9px;
    height: 31px;
    background: url(../img/main_block.png) no-repeat 0 -200px;
}

h4.titlebg, h3.titlebg {
    background: url(../img/main_block.png) no-repeat 100% -200px;
    padding-right: 9px;
}

h4.titlebg img.icon {
    float: left;
    margin: 5px 8px 0 0;
}

div.cat_bar {
    background: url(../img/main_block.png) no-repeat 0 -160px;
    padding-left: 9px;
    overflow: hidden;
}

div.title_bar {
    background: url(../img/main_block.png) no-repeat 0 -200px;
    padding-left: 9px;
    overflow: hidden;
}

div.title_barIC {
    background: url(../img/main_block.png) no-repeat 0 -120px;
    padding-left: 9px;
    overflow: hidden;
}

#upshrinkHeaderIC h3.catbg span.left, #upshrinkHeaderIC h3.catbg2 span.left {
    background: url(../img/main_block.png) no-repeat 0 -160px;
}

#upshrinkHeaderIC h3.catbg, #upshrinkHeaderIC h3.catbg2 {
    background: url(../img/main_block.png) no-repeat 100% -160px;
}

#upshrinkHeaderIC h4.titlebg span.left {
    background: url(../img/main_block.png) no-repeat 0 -120px;
}

#upshrinkHeaderIC h4.titlebg {
    background: url(../img/main_block.png) no-repeat 100% -120px;
}

#upshrinkHeaderIC p.pminfo {
    margin: 0;
    padding: 0.5em;
}

img#upshrink_ic, img#newsupshrink {
    float: right;
    margin: 10px 5px 0 0;
}

table.table_list a.unreadlink, table.table_list a.collapse {
    float: right;
}

table.table_list a.collapse {
    margin: 10px 5px 0 1em;
}

.table_grid thead th {
    height: 33px;
    color: #FFF;
    font-family: tahoma;
    font-size: 1.1em;
    font-weight: 700;
    background: url(../img/main_block.png) no-repeat -10px -160px;
}

.table_grid thead th a:link, .table_grid thead th a:visited {
    color: #FFF;
}

.table_grid th.first_th {
    background: url(../img/main_block.png) no-repeat 0 -160px;
}

.table_grid th.last_th {
    background: url(../img/main_block.png) no-repeat 100% -160px;
}

.table_grid th.last_th input {
    margin: 0 2px;
}

.windowbg span.topslice {
    display: block;
    padding-left: 20px;
    background: url(../img/main_block.png) 0 -30px no-repeat;
}

.windowbg span.topslice span {
    display: block;
    background: url(../img/main_block.png) 100% -30px no-repeat;
    height: 11px;
}

.windowbg span.botslice {
    display: block;
    padding-left: 20px;
    background: url(../img/main_block.png) 0 -40px no-repeat;
    font-size: 5px;
    line-height: 5px;
    margin-bottom: 0.2em;
}

.windowbg span.botslice span {
    display: block;
    background: url(../img/main_block.png) 100% -40px no-repeat;
    height: 11px;
}

.windowbg2 span.topslice {
    display: block;
    padding-left: 20px;
    background: url(../img/main_block.png) 0 -60px no-repeat;
}

.windowbg2 span.topslice span {
    display: block;
    background: url(../img/main_block.png) 100% -60px no-repeat;
    height: 11px;
}

.windowbg2 span.botslice {
    display: block;
    padding-left: 20px;
    background: url(../img/main_block.png) 0 -71px no-repeat;
    font-size: 5px;
    line-height: 5px;
    margin-bottom: 0.2em;
}

.windowbg2 span.botslice span {
    display: block;
    background: url(../img/main_block.png) 100% -71px no-repeat;
    height: 11px;
}

.approvebg span.topslice {
    display: block;
    padding-left: 20px;
    background: url(../img/main_block.png) 0 0 no-repeat;
}

.approvebg span.topslice span {
    display: block;
    background: url(../img/main_block.png) 100% 0 no-repeat;
    height: 11px;
}

.approvebg span.botslice {
    display: block;
    padding-left: 20px;
    background: url(../img/main_block.png) 0 -11px no-repeat;
    margin-bottom: 0.2em;
}

.approvebg span.botslice span {
    display: block;
    background: url(../img/main_block.png) 100% -11px no-repeat;
    height: 11px;
}

.postbg {
    border-left: 1px solid #7F7F7F;
    border-right: 1px solid #7F7F7F;
}

.roundframe {
    padding: 0 10px;
    background: #2D2622;
    border-left: 1px solid #3E3530;
    border-right: 1px solid #3E3530;
}

.roundframe dl, .roundframe dt, .roundframe p {
    margin: 0;
}

.roundframe p {
    padding: 0.5em;
}

span.upperframe {
    padding: 0;
    display: block;
    background: url(../img/main_block.png) 0 -90px no-repeat;
    padding-left: 20px;
}

span.upperframe span {
    padding: 0;
    height: 12px;
    display: block;
    background: url(../img/main_block.png) 100% -90px no-repeat;
}

span.lowerframe {
    padding: 0;
    display: block;
    background: url(../img/main_block.png) 0 -102px no-repeat;
    padding-left: 20px;
}

span.lowerframe span {
    padding: 0;
    height: 12px;
    display: block;
    background: url(../img/main_block.png) 100% -102px no-repeat;
}

.content {
    padding: 0.5em 1.2em;
    margin: 0;
    border: none;
}

.content p {
    margin: 0 0 0.5em 0;
}

.auto_suggest_div {
    border: 1px solid #000;
    position: absolute;
    visibility: hidden;
}

.auto_suggest_item {
    background-color: #DDD;
}

.auto_suggest_item_hover {
    background-color: #888;
    cursor: pointer;
    color: #EEE;
}

#main_menu {
    padding: 0.5em;
    float: left;
    margin: 0;
    width: 98%;
}

.dropmenu, .dropmenu ul {
    list-style: none;
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.dropmenu {
    padding: 0 0.5em;
}

.dropmenu a {
    display: block;
    color: #8C8C8C;
    text-decoration: none;
}

.dropmenu a span {
    display: block;
    padding: 0 0 0 5px;
    font-size: 0.9em;
}

.dropmenu li a.firstlevel {
    margin-right: 8px;
}

.dropmenu li a.firstlevel span.firstlevel {
    display: block;
    position: relative;
    left: -5px;
    padding-left: 5px;
    height: 22px;
    line-height: 21px;
}

.dropmenu li {
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
}

.dropmenu li ul {
    z-index: 90;
    display: none;
    position: absolute;
    width: 19.2em;
    font-weight: normal;
    border-bottom: 1px solid #000;
    background: url(../img/menu_gfx.png) 0 -100px no-repeat;
    padding: 7px 0 0;
}

.dropmenu li li {
    width: 19em;
    margin: 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000000;
}

.dropmenu li li a span {
    display: block;
    padding: 8px;
}

.dropmenu li ul ul {
    margin: -1.8em 0 0 13em;
}

.dropmenu li a.active {
    background: url(../img/menu_gfx.png) no-repeat 100% 0;
    color: #FFF;
    font-weight: 700;
}

.dropmenu li a.active span.firstlevel {
    background: url(../img/menu_gfx.png) no-repeat 0 0;
}

.dropmenu li a.firstlevel:hover, .dropmenu li:hover a.firstlevel {
    background: url(../img/menu_gfx.png) no-repeat 100% -30px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.dropmenu li a.firstlevel:hover span.firstlevel, .dropmenu li:hover a.firstlevel span.firstlevel {
    background: url(../img/menu_gfx.png) no-repeat 0 -30px;
}

.dropmenu li li a:hover, .dropmenu li li:hover > a {
    background: #2C838E;
    color: #FFF;
    text-decoration: none;
}

.dropmenu li:hover ul ul, .dropmenu li:hover ul ul ul {
    top: -999em;
}

.dropmenu li li:hover ul {
    top: auto;
}

.dropmenu li:hover ul {
    display: block;
}

.dropmenu li li.additional_items {
    background-color: #211C19;
}

#menu_toggle {
    float: right;
    margin-right: 10px;
    padding-top: 3px;
}

#menu_toggle span {
    position: relative;
    right: 5000px;
}

.buttonlist ul {
    z-index: 100;
    padding: 5px;
    margin: 0 0.2em 0 0;
}

.buttonlist ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.buttonlist ul li a {
    display: block;
    font-size: 0.8em;
    color: #000;
    background: url(../img/menu_gfx.png) no-repeat 0 -60px;
    padding: 0;
    margin-left: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonlist ul li a:hover {
    background: url(../img/menu_gfx.png) no-repeat 0 0;
    color: #FFF;
    text-decoration: none;
}

.buttonlist ul li a span {
    background: url(../img/menu_gfx.png) no-repeat 100% -60px;
    display: block;
    height: 24px;
    line-height: 21px;
    padding: 0 8px 0 0;
    position: relative;
    right: -8px;
}

.buttonlist ul li a:hover span {
    background: url(../img/menu_gfx.png) no-repeat 100% 0;
}

.buttonlist ul li a.active {
    background: url(../img/menu_gfx.png) no-repeat 0 -30px;
    color: #FFF;
    font-weight: 700;
}

.buttonlist ul li a.active span {
    background: url(../img/menu_gfx.png) no-repeat 100% -30px;
}

.buttonlist ul li a.active {
    font-weight: 700;
}

.buttonlist ul li a.active:hover {
    color: #DDF;
}

.align_top ul li a, .align_bottom ul li a {
    margin: 0 12px 0 0;
}

ul#navigation {
    margin: 0;
    font-size: 0.9em;
    padding: 1em 0.4em;
}

ul#navigation li {
    float: none;
    font-size: 0.95em;
    display: inline;
}

#adm_submenus {
    padding-left: 2em;
}

#adm_submenus, #adm_submenus ul {
    height: 3em;
    overflow: auto;
}

h3, h4 {
    padding-bottom: 3px;
}

img#upshrink {
    float: right;
    margin: 1em;
}

img#smflogo {
    margin-left: 1em;
}

#upper_section {
    padding: 5px;
    margin-bottom: 1.5em;
}

#upper_section ul li.greeting {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.5em;
}

#upper_section div.news {
    width: 50%;
    float: right;
    text-align: right;
}

#guest_form {
    overflow: hidden;
}

#guest_form .info {
    padding: 4px 0;
}

div#upper_section div.user {
    width: 50%;
    float: left;
    overflow: auto;
}

div#upper_section div.user p {
    float: left;
    margin: 0 1em 1em 0;
    padding: 0;
}

div#upper_section div.user ul {
    margin: 0;
    padding-left: 10px;
}

div#upper_section div.user ul li {
    margin-bottom: 2px;
}

div#upper_section div.news p {
    display: inline;
}

div#upper_section div.news form {
    padding-bottom: 10px;
}

#top_section {
    min-height: 65px;
    overflow: hidden;
    margin-bottom: 3px;
}

#upper_section {
    overflow: hidden;
}

.navigate_section {
    padding: 0.5em;
    margin: 0;
}

.navigate_section ul {
    display: block;
    margin: 0;
    font-size: 0.9em;
    padding: 0.5em 0;
    overflow: hidden;
    list-style: none;
    clear: both;
    width: 100%;
}

.navigate_section ul li {
    float: left;
    padding: 0 0.5em 0 0;
}

#footer_section {
    text-align: center;
    background: url(../img/main_block.png) no-repeat 0 -820px;
    padding-left: 20px;
}

#footer_section span.smalltext {
    font-size: 100%;
}

#footer_section div.frame {
    background: url(../img/main_block.png) no-repeat 100% -820px;
    display: block;
    padding: 60px 0 0;
}

#footer_section ul li, #footer_section p {
    font-size: 0.8em;
}

#footer_section ul li {
    display: inline;
    padding-right: 5px;
}

#footer_section ul li.copyright {
    display: block;
}

select.qaction, input.qaction {
    font-size: 0.7em;
    padding: 0;
}

#mlist table tbody td.windowbg2 {
    text-align: center;
}

table.table_list {
    width: 100%;
}

table.table_list p {
    padding: 0;
    margin: 0;
}

table.table_list td, table.table_list th {
    padding: 5px;
}

table.table_list tbody.header td {
    padding: 0;
}

table.table_list tbody.content td.stats {
    width: 7%;
    font-size: 90%;
    text-align: center;
}

table.table_list tbody.content td.stats strong {
    font-size: 120%;
    font-family: tahoma;
}

table.table_list tbody.content td.lastpost {
    line-height: 1.3em;
    font-size: 100%;
    width: 24%;
}

table.table_list tbody.content td.icon {
    text-align: center;
    width: 6%;
}

.table_list tbody.content td.info a.subject {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-weight: 700;
    font-size: 110%;
    color: #D3689D;
}

.table_list tbody.content td.children {
    color: #888888;
    font-size: 85%;
}

p.moderators {
    font-size: 0.8em;
    font-family: verdana, sans-serif;
}

#boardindex_table .table_list thead, #boardindex_table .table_list tfoot {
    display: none;
}

#posting_icons {
    padding: 0 1em 0.5em 1em;
    margin: 0 0 1em;
    line-height: 1em;
}

#posting_icons ul {
    font-size: 0.8em;
}

#posting_icons img {
    vertical-align: middle;
    margin: 0 0 0 4ex;
}

#postbuttons_upper ul li a span {
    line-height: 19px;
    padding: 0 0 0 6px;
}

.nextlinks {
    text-align: right;
    margin-top: -1px;
}

.nextlinks_bottom {
    clear: right;
    text-align: right;
}

.mark_read {
    padding: 0 0.5em;
}

#smfFadeScroller {
    text-align: center;
    padding: 0 2em;
    overflow: auto;
    margin: 1em 0;
    color: #575757;
}

#upshrinkHeaderIC {
    margin-top: 4px;
}

dl#ic_recentposts {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    line-height: 1.3em;
}

dl#ic_recentposts dt {
    float: left;
}

dl#ic_recentposts dd {
    text-align: right;
}

#upshrinkHeaderIC p {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
}

#upshrinkHeaderIC p.last {
    margin: 0;
    padding: 0.5em;
    border-top: 2px dotted #5B4E47;
}

#upshrinkHeaderIC p.inline {
    border: none;
    margin: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

#upshrinkHeaderIC p.stats {
    font-size: 1.1em;
    padding-top: 8px;
}

form#ic_login {
    padding: 0.5em;
    height: 2em;
}

form#ic_login ul li {
    margin: 0;
    padding: 0;
    float: left;
    width: 20%;
    text-align: center;
}

form#ic_login ul li label {
    display: block;
}

#index_common_stats {
    display: block;
    margin: 0 0 0.5em 0;
    text-align: right;
    font-size: 0.9em;
    position: relative;
    top: -20px;
    line-height: 1px;
}

img.new_posts {
    padding: 0 0.1em;
}

#messageindex {
    clear: both;
}

#childboards h3 {
    padding-bottom: 0;
}

#childboards .table_list thead {
    display: none;
}

#childboards .table_list {
    margin-bottom: 1em;
}

.lastpost img {
    float: right;
    padding: 4px;
}

#postbuttons div.buttons {
    padding: 0.5em;
    width: 40%;
    float: right;
}

#postbuttons div.middletext {
    width: 60%;
}

#postbuttons span {
    display: block;
    text-align: right;
}

#postbuttons span.lower {
    clear: right;
}

#postbuttons .buttonlist {
    float: right;
}

#postbuttons #pagelinks {
    padding-top: 1em;
}

#moderationbuttons {
    overflow: hidden;
}

.linked_events {
    padding: 1em 0;
}

.edit_event {
    margin: 0 1em;
    vertical-align: middle;
}

#poll {
    overflow: hidden;
}

#poll .content {
    padding: 0 1em;
}

h4#pollquestion {
    padding: 0 0 0.5em 2em;
}

#poll_options ul.options {
    border-top: 1px solid #5B4E47;
    padding: 1em 2.5em 0 2em;
    margin: 0 0 1em;
}

#poll_options div.submitbutton {
    border-bottom: 1px solid #5B4E47;
    clear: both;
    padding: 0 0 1em 2em;
    margin: 0 0 1em;
}

#poll_options dl.options {
    border: solid #5B4E47;
    border-width: 1px 0;
    padding: 1em 2.5em 1em 2em;
    margin: 0 1em 1em 0;
    line-height: 1.1em !important;
}

#poll_options dl.options dt {
    padding: 0.3em 0;
    width: 30%;
    float: left;
    margin: 0;
    clear: left;
}

#poll_options dl.options .voted {
    font-weight: 700;
}

#poll_options dl.options dd {
    margin: 0 0 0 2em;
    padding: 0.1em 0 0;
    width: 60%;
    max-width: 450px;
    float: left;
}

#poll_options dl.options .percentage {
    display: block;
    float: right;
    padding: 0.2em 0 0.3em 0;
}

#poll_options p {
    margin: 0 1.5em 0.2em 1.5em;
    padding: 0 0.5em 0.5em 0.5em;
}

div#pollmoderation {
    margin: 0;
    padding: 0;
    overflow: auto;
}

#forumposts {
    clear: both;
}

#forumposts h3 span#author, #forumposts h3 span#top_subject {
    float: left;
}

#forumposts h3 span#top_subject {
    margin: 0 0 0 7.7em;
}

#forumposts h3 img {
    float: left;
    margin: 4px 0.5em 0 0;
}

#forumposts h3.catbg {
    margin-bottom: 3px;
}

p#whoisviewing {
    margin: 0;
    padding: 0.5em;
}

.poster {
    float: left;
    width: 15em;
}

.postarea, .moderatorbar {
    margin: 0 0 0 16em;
}

.postarea div.flow_hidden {
    width: 100%;
}

.moderatorbar {
    clear: right;
}

.poster h4, .poster ul {
    padding: 0;
    margin: 0 1em 0 1.5em;
}

.poster h4 {
    margin: 0.2em 0 0.4em 1.1em;
    font-size: 120%;
}

.poster h4, .poster h4 a {
    color: #338F99;
}

.poster ul ul {
    margin: 0.3em 1em 0 0;
    padding: 0;
}

.poster ul ul li {
    display: inline;
}

.poster li.stars, .poster li.avatar, .poster li.blurb, li.postcount, li.im_icons ul {
    margin-top: 0.5em;
}

.poster li.warning {
    line-height: 1.2em;
    padding-top: 1em;
}

.poster li.warning a img {
    vertical-align: bottom;
    padding: 0 0.2em;
}

.messageicon {
    float: left;
    margin: 0 0.5em 0 0;
}

.messageicon img {
    padding: 6px 3px;
}

.keyinfo {
    float: left;
    width: 50%;
}

.modifybutton {
    clear: right;
    float: right;
    margin: 8px 20px 10px 0;
    text-align: right;
}

div.quickbuttons_wrap {
    padding: 0.2em 0;
    width: 100%;
    float: left;
}

ul.quickbuttons {
    margin: 0.9em 11px 0 0;
    clear: right;
    float: right;
    text-align: right;
    font-family: arial, sans-serif;
    font-weight: 700;
    font-size: 0.85em;
}

ul.quickbuttons li {
    float: left;
    display: inline;
    margin: 0 0 0 11px;
}

ul.quickbuttons li a {
    padding: 0 0 0 20px;
    display: block;
    height: 20px;
    line-height: 18px;
    float: left;
}

ul.quickbuttons li.quote_button {
    background: url(../img/quickbuttons.png) no-repeat 0 0;
}

ul.quickbuttons li.remove_button {
    background: url(../img/quickbuttons.png) no-repeat 0 -30px;
}

ul.quickbuttons li.modify_button {
    background: url(../img/quickbuttons.png) no-repeat 0 -60px;
}

ul.quickbuttons li.approve_button {
    background: url(../img/quickbuttons.png) no-repeat 0 -90px;
}

ul.quickbuttons li.restore_button {
    background: url(../img/quickbuttons.png) no-repeat 0 -120px;
}

ul.quickbuttons li.split_button {
    background: url(../img/quickbuttons.png) no-repeat 0 -150px;
}

ul.quickbuttons li.reply_button {
    background: url(../img/quickbuttons.png) no-repeat 0 -180px;
}

ul.quickbuttons li.reply_all_button {
    background: url(../img/quickbuttons.png) no-repeat 0 -180px;
}

ul.quickbuttons li.notify_button {
    background: url(../img/quickbuttons.png) no-repeat 0 -210px;
}

ul.quickbuttons li.inline_mod_check {
    margin: 0 0 0 5px;
}

.post {
    margin-top: 0.5em;
    clear: right;
}

.inner {
    padding: 1em 1em 0 0;
    margin: 0 1em 0 0;
    border-top: 1px solid #5B4E47;
}

.inner img.smiley {
    vertical-align: bottom;
}

#forumposts .modified {
    float: left;
}

#forumposts .reportlinks {
    margin-right: 1.5em;
    text-align: right;
    clear: right;
}

#forumposts .signature, .post .signature {
    margin: 1em 0 0;
}

#forumposts span.botslice {
    clear: both;
}

.attachments hr {
    clear: both;
    margin: 1em 0;
}

.attachments {
    padding: 1em 0 2em;
}

.attachments div {
    padding: 0 0.5em;
}

#quickReplyOptions .roundframe {
    padding: 0 10%;
}

#quickReplyOptions form textarea {
    height: 100px;
    margin: 0.25em 0 1em;
}

#display_jump_to {
    clear: both;
    padding: 5px;
    margin-top: 2px;
}

#forumposts .post_separator {
    display: none;
}

form#postmodify .roundframe {
    padding: 0 12%;
}

#post_header {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #5B4E47;
    padding: 0.5em;
    overflow: hidden;
}

#post_header dt {
    float: left;
    margin: 0;
    padding: 0;
    width: 15%;
    margin: .3em 0;
    font-weight: 700;
}

#post_header dd {
    float: left;
    margin: 0;
    padding: 0;
    width: 83%;
    margin: .3em 0;
}

#post_header img {
    vertical-align: middle;
}

ul.post_options {
    margin: 0 0 0 1em;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

ul.post_options li {
    margin: 0.2em 0;
    width: 49%;
    float: left;
}

#postAdditionalOptionsHeader {
    margin-top: 1em;
}

#postMoreOptions {
    border-bottom: 1px solid #5B4E47;
    padding: 0.5em;
}

#postAttachment, #postAttachment2 {
    overflow: hidden;
    margin: .5em 0;
    padding: 0;
    border-bottom: 1px solid #5B4E47;
    padding: 0.5em;
}

#postAttachment dd, #postAttachment2 dd {
    margin: .3em 0 .3em 1em;
}

#postAttachment dt, #postAttachment2 dt {
    font-weight: 700;
}

#postAttachment3 {
    margin-left: 1em;
}

#post_confirm_strip, #shortcuts {
    padding: 1em 0 0;
}

.post_verification {
    margin-top: .5em;
}

.post_verification #verification_control {
    margin: .3em 0 .3em 1em;
}

#bbcBox_message {
    margin: 1em 0 0.5em 0;
}

#bbcBox_message div {
    margin: 0.2em 0;
    vertical-align: top;
}

#bbcBox_message div img {
    margin: 0 1px 0 0;
    vertical-align: top;
}

#bbcBox_message select {
    margin: 0 2px;
}

#smileyBox_message {
    margin: 0.75em 0 0.5em 0;
}

#post_event .roundframe {
    padding: 0 12%;
}

#post_event fieldset {
    margin-bottom: 0.5em;
    border: none;
    border-bottom: 1px solid #5B4E47;
    padding: 0.5em;
    clear: both;
}

#post_event legend {
    font-weight: 700;
    color: #FFF;
}

#post_event div.event_options {
    width: 49%;
    float: left;
}

#post_event ul.event_main, ul.event_options {
    padding: 0;
    overflow: hidden;
}

#post_event ul.event_main li {
    list-style-type: none;
    margin: 0.2em 0;
    width: 49%;
    float: left;
}

#post_event ul.event_options {
    margin: 0;
    padding: 0 0 .7em .7em;
}

#post_event ul.event_options li {
    list-style-type: none;
    margin: 0.3em 0 0;
}

#edit_poll fieldset {
    margin-bottom: 0.5em;
    border: none;
    border-bottom: 1px solid #5B4E47;
    padding: 0.5em;
    clear: both;
}

#edit_poll legend {
    font-weight: 700;
    color: #FFF;
}

#edit_poll ul.poll_main, dl.poll_options {
    overflow: hidden;
    padding: 0 0 .7em .7em;
    list-style: none;
}

#edit_poll ul.poll_main li {
    margin: 0.2em 0;
}

#edit_poll dl.poll_options dt {
    width: 35%;
}

#edit_poll dl.poll_options dd {
    width: 63%;
}

#readbuttons_top .pagelinks, #readbuttons .pagelinks {
    padding-bottom: 1em;
    width: 60%;
}

#readbuttons .pagelinks {
    padding-top: 1em;
}

#recent {
    clear: both;
}

#move_topic dl {
    margin-bottom: 0;
}

#move_topic dl.settings dt {
    width: 40%;
}

#move_topic dl.settings dd {
    width: 59%;
}

.move_topic {
    width: 710px;
    margin: auto;
    text-align: left;
}

div.move_topic fieldset {
    margin: 0.5em 0;
    border: 1px solid #5B4E47;
    padding: 0.5em;
}

fieldset.send_topic {
    margin-bottom: 0.5em;
    border: none;
    padding: 0.5em;
}

dl.send_topic {
    margin-bottom: 0;
}

dl.send_mail dt {
    width: 35%;
}

dl.send_mail dd {
    width: 64%;
}

div#selected, div#not_selected {
    width: 49%;
}

ul.split_messages li.windowbg, ul.split_messages li.windowbg2 {
    padding: 1em;
    margin: 1px;
}

ul.split_messages li a.split_icon {
    padding: 0 0.5em;
}

ul.split_messages div.post {
    padding: 1em 0 0;
    border-top: 1px solid #39302B;
}

ul.merge_topics li {
    list-style-type: none;
}

dl.merge_topic dt {
    width: 25%;
}

dl.merge_topic dd {
    width: 74%;
}

fieldset.merge_options {
    margin-bottom: 0.5em;
}

fieldset.merge_options legend {
    font-weight: 700;
}

.custom_subject {
    margin: 0.5em 0;
}

.login {
    width: 540px;
    margin: 0 auto;
}

.login dl {
    overflow: auto;
    clear: right;
}

.login dt, .login dd {
    margin: 0 0 0.4em 0;
    width: 44%;
    padding: 0.1em;
}

.login dt {
    float: left;
    clear: both;
    text-align: right;
    font-weight: 700;
}

.login dd {
    width: 54%;
    float: right;
    text-align: left;
}

.login p {
    text-align: center;
}

.register_error {
    border: 1px dashed red;
    padding: 5px;
    margin: 0 1ex 1ex;
}

.register_error span {
    text-decoration: underline;
}

dl.register_form {
    margin: 0;
    clear: right;
    overflow: auto;
}

dl.register_form dt {
    font-weight: normal;
    float: left;
    clear: both;
    width: 50%;
    margin: 0.5em 0 0;
}

dl.register_form dt strong {
    font-weight: 700;
}

dl.register_form dt span {
    display: block;
}

dl.register_form dd {
    float: left;
    width: 49%;
    margin: 0.5em 0 0;
}

#confirm_buttons {
    text-align: center;
    padding: 1em 0;
}

.coppa_contact {
    padding: 4px;
    width: 32ex;
    background-color: #FFF;
    color: #000;
    margin-left: 5ex;
    border: 1px solid #000;
}

#maintenance_mode {
    width: 75%;
    min-width: 520px;
    text-align: left;
}

#maintenance_mode img.align_left {
    margin-right: 1em;
}

h3.titlebg img {
    vertical-align: middle;
    margin-right: 0.5em;
    margin-top: -1px;
}

tr.titlebg td {
    padding-left: 0.7em;
}

#admin_menu {
    min-height: 2em;
    padding-left: 0;
}

#admin_content {
    clear: left;
    padding-top: 0.5em;
}

#admin_login .centertext {
    padding: 1em;
}

#admin_login .centertext .error {
    padding: 0 0 1em;
}

#left_admsection h4.catbg span.left, #left_admsection h4.catbg span.right {
    width: 9px;
    height: 31px;
}

.left_admmenu, .left_admmenu ul, .left_admmenu li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#left_admsection {
    width: 160px;
    float: left;
    padding-right: 10px;
}

.adm_section h4.titlebg {
    font-size: 95%;
    margin-bottom: 5px;
}

#adm_container {
    border-bottom: 1px solid #5B4E47;
    margin-bottom: 5px;
}

.left_admmenu li {
    padding: 0.5em;
}

.left_admmenu {
    margin-bottom: 0.5em;
}

#main_admsection {
    margin-left: 172px;
}

tr.windowbg td, tr.windowbg2 td, tr.approvebg td, tr.highlight2 td {
    padding: 0.3em 0.7em;
}

#credits p {
    padding: 0;
    font-style: italic;
    margin: 0;
}

.topic_table table {
    width: 100%;
}

.topic_table .icon1, .topic_table .icon2, .topic_table .stats {
    text-align: center;
}

#topic_icons {
    margin: 1em 0 0;
}

#topic_icons .description {
    margin: 0;
}

.topic_table table thead {
    border-bottom: 1px solid #39302B;
}

.topic_table td {
    font-size: 1em;
}

.topic_table td.subject p, .topic_table td.stats {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.topic_table td.lastpost {
    font-size: 0.95em;
    line-height: 1.3em;
    padding: 5px;
}

.topic_table td.stickybg2 {
    background-image: url(../images/icons/quick_sticky.gif);
    background-repeat: no-repeat;
    background-position: 98% 4px;
}

.topic_table td.lockedbg2 {
    background-image: url(../images/icons/quick_lock.gif);
    background-repeat: no-repeat;
    background-position: 98% 4px;
}

.topic_table td.locked_sticky2 {
    background-image: url(../images/icons/quick_sticky_lock.gif);
    background-repeat: no-repeat;
    background-position: 98% 4px;
}

.topic_table td.lastpost {
    background-image: none;
}

#fatal_error {
    width: 80%;
    margin: auto;
}

.errorbox {
    padding: 1em;
    border: 1px solid #C34;
    color: #000;
    background-color: #FFE4E9;
    margin-bottom: 1em;
}

.errorbox h3 {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    text-decoration: underline;
}

.errorbox p {
    margin: 1em 0 0;
}

.errorbox p.alert {
    padding: 0;
    margin: 0;
    float: left;
    width: 1em;
    font-size: 1.5em;
}

dl {
    overflow: auto;
    margin: 0;
    padding: 0;
}

#basicinfo {
    width: 20%;
    float: left;
}

#basicinfo .windowbg .content {
    padding-left: 20px;
}

#detailedinfo {
    width: 79.5%;
    float: right;
}

#basicinfo h4 {
    font-size: 135%;
    font-weight: 100;
    line-height: 105%;
    white-space: pre-wrap;
    overflow: hidden;
}

#basicinfo h4 span.position {
    font-size: 80%;
    font-weight: 100;
    display: block;
}

#basicinfo img.avatar {
    display: block;
    margin: 10px 0 0;
}

#basicinfo ul {
    list-style-type: none;
    margin: 10px 0 0;
}

#basicinfo ul li {
    display: block;
    float: left;
    margin-right: 5px;
    height: 20px;
}

#basicinfo span#userstatus {
    display: block;
    clear: both;
}

#basicinfo span#userstatus img {
    vertical-align: middle;
}

#detailedinfo div.content dl, #tracking div.content dl {
    clear: right;
    overflow: auto;
    margin: 0 0 18px;
    padding: 0 0 15px;
    border-bottom: 1px #5B4E47 solid;
}

#detailedinfo div.content dt, #tracking div.content dt {
    width: 35%;
    float: left;
    margin: 0 0 3px;
    padding: 0;
    font-weight: 700;
    clear: both;
}

#detailedinfo div.content dd, #tracking div.content dd {
    width: 65%;
    float: left;
    margin: 0 0 3px;
    padding: 0;
}

#detailedinfo div.content dl.noborder {
    border-bottom: 0;
}

#detailedinfo div.content dt.clear {
    width: 100%;
}

.signature, .custom_fields_above_signature {
    border-top: 1px #5B4E47 solid;
}

.signature h5 {
    font-size: 0.85em;
    margin-bottom: 10px;
}

#personal_picture {
    display: block;
    margin-bottom: 0.3em;
}

#avatar_server_stored div {
    float: left;
}

#main_admsection #basicinfo, #main_admsection #detailedinfo {
    width: 100%;
}

#main_admsection #basicinfo h4 {
    float: left;
    width: 35%;
}

#main_admsection #basicinfo img.avatar {
    float: right;
    vertical-align: top;
}

#main_admsection #basicinfo ul {
    clear: left;
}

#main_admsection #basicinfo span#userstatus {
    clear: left;
}

#main_admsection #basicinfo p#infolinks {
    display: none;
    clear: both;
}

#main_admsection #basicinfo .botslice {
    clear: both;
}

div#profile_error, div#profile_success {
    margin: 0 0 1em;
    padding: 1em 2em;
    border: 1px solid;
}

div#profile_error {
    border-color: red;
    color: red;
    background: #FEE;
}

div#profile_error span {
    text-decoration: underline;
}

div#profile_success {
    border-color: green;
    color: green;
    background: #EFE;
}

#generalstats div.content dt {
    width: 50%;
    float: left;
    margin: 0 0 3px;
    padding: 0;
    font-weight: 700;
    clear: both;
}

#generalstats div.content dd {
    width: 50%;
    float: left;
    margin: 0 0 3px;
    padding: 0;
}

#activitytime {
    margin: 6px 0;
}

.activity_stats {
    margin: 0;
    padding: 0;
    list-style: none;
}

.activity_stats li {
    margin: 0;
    padding: 0;
    width: 4.16%;
    float: left;
}

.activity_stats li span {
    display: block;
    border: solid #000;
    border-width: 1px 1px 0 0;
    text-align: center;
}

.activity_stats li.last span {
    border-right: none;
}

.activity_stats li div.bar {
    margin: 0 auto;
    width: 15px;
}

.activity_stats li div.bar div {
    background: #6294CE;
}

.activity_stats li div.bar span {
    position: absolute;
    top: -1000em;
    left: -1000em;
}

#popularposts {
    width: 49.5%;
    float: left;
}

#popularactivity {
    width: 49.5%;
    float: right;
}

#popularposts div.content dt, #popularactivity div.content dt {
    width: 65%;
    float: left;
    margin: 0 0 3px;
    padding: 0;
    font-weight: 700;
    clear: both;
}

#popularposts div.content dd, #popularactivity div.content dd {
    width: 35%;
    float: left;
    margin: 0 0 3px;
    padding: 0;
}

.profile_pie {
    background-image: url(../images/stats_pie.png);
    float: left;
    height: 20px;
    width: 20px;
    margin: 0 1em 0 0;
    padding: 0;
    text-indent: -1000em;
}

.topic .time {
    float: right;
}

.counter {
    margin: 0;
    padding: 0.2em 0.5em 0.1em 0.2em;
    font-size: 2.2em;
    font-weight: 700;
    color: #DFDFDF;
    float: left;
}

.list_posts {
    border-top: 2px solid #5B4E47;
    padding-top: 12px;
    margin-top: 6px;
}

.core_posts {
    margin-bottom: 3px;
}

.topic h4 {
    margin: 3px 0;
}

.topic .post {
    margin: 0 1em;
    min-height: 80px;
    height: auto !important;
    height: 80px;
}

.topic .mod_icons {
    text-align: right;
    margin-right: 1em;
}

#permissions dt {
    width: 48%;
    float: left;
    line-height: 1.2em;
    margin: 0;
    padding: 1%;
    clear: both;
    border-top: 1px solid #39302B;
}

#permissions dd {
    width: 48%;
    float: left;
    margin: 0;
    padding: 1%;
    border-top: 1px solid #39302B;
}

#tracking div.content dl {
    border-bottom: 0;
    margin: 0;
    padding: 0;
}

#creator dl {
    margin: 0;
}

#creator dt {
    width: 40%;
    float: left;
    clear: both;
    margin: 0 0 10px;
}

#creator dd {
    float: left;
    width: 60%;
    margin: 0 0 10px;
}

.ignoreboards {
    margin: 0;
    padding: 0;
    width: 49%;
    overflow: auto;
}

.ignoreboards a {
    text-decoration: underline;
}

.ignoreboards ul {
    overflow: auto;
    margin: 0 0 0 1em;
    padding: 0;
}

.ignoreboards li {
    list-style: none;
    float: left;
    clear: both;
}

#theme_settings {
    overflow: auto;
    margin: 0;
    padding: 0;
}

#theme_settings li {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

#paid_subscription {
    width: 100%;
}

#paid_subscription dl.settings {
    margin-bottom: 0;
}

#paid_subscription dl.settings dd, #paid_subscription dl.settings dt {
    margin-bottom: 4px;
}

#pick_theme {
    width: 100%;
    float: left;
}

#statistics {
    padding: 0.5em 0;
}

#statistics div.title_bar {
    margin: 4px 0 -2px 0;
}

#statistics h3.catbg {
    text-align: center;
}

#statistics div.content {
    min-height: 210px;
}

#statistics div.top_row {
    min-height: 150px;
}

#stats_left, #top_posters, #top_topics_replies, #top_topics_starter {
    float: left;
    width: 49.5%;
}

#stats_right, #top_boards, #top_topics_views, #most_online {
    float: right;
    width: 49.5%;
}

dl.stats {
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

dl.stats dt {
    width: 49%;
    float: left;
    margin: 0 0 4px;
    line-height: 16px;
    padding: 0;
    clear: both;
    font-size: 1em;
}

dl.stats dd {
    text-align: right;
    width: 50%;
    font-size: 1em;
    float: right;
    margin: 0 0 4px;
    line-height: 16px;
    padding: 0;
}

.statsbar div.bar {
    float: left;
    background: url(../images/bar_stats.png) no-repeat;
    display: block;
    margin: 0 4px;
    height: 16px;
}

.statsbar div.bar div {
    position: relative;
    right: -4px;
    padding: 0 4px 0 0;
    background: url(../images/bar_stats.png) no-repeat 100%;
    height: 16px;
}

#personal_messages h3 span#author, #personal_messages h3 span#topic_title {
    float: left;
}

#personal_messages h3 span#author {
    margin: 0.5em;
}

#personal_messages h3 span#topic_title {
    margin: 0 0 0 9em;
}

#personal_messages div.labels {
    padding: 0 1em 0 0;
}

#personal_messages .capacity_bar {
    background: #F0F4F7;
    display: block;
    margin: 0.5em 0 0 1em;
    height: 1em;
    border: 1px solid #ADADAD;
    width: 10em;
}

#personal_messages .capacity_bar span {
    border-right: 1px solid #ADADAD;
    display: block;
    height: 1em;
}

#personal_messages .capacity_bar span.empty {
    background: #A6D69D;
}

#personal_messages .capacity_bar span.filled {
    background: #EEA800;
}

#personal_messages .capacity_bar span.full {
    background: #F10909;
}

#personal_messages .reportlinks {
    padding: 0.5em 1.3em;
}

.calendar_table {
    margin-bottom: 0.7em;
}

.calendar_today {
    background-color: #FFF;
}

#month_grid {
    width: 200px;
    text-align: center;
    float: left;
}

#month_grid h3.catbg {
    height: 23px;
    line-height: 27px;
}

#month_grid table {
    width: 200px;
}

#main_grid table {
    width: 100%;
    padding-bottom: 4px;
}

#main_grid table h3.catbg {
    text-align: center;
    height: 29px;
    border-top: 2px solid #39302B;
    border-bottom: none;
}

#main_grid table.weeklist td.windowbg {
    text-align: center;
    height: 49px;
    width: 25px;
    font-size: large;
    padding: 0 7px;
    border-bottom: 2px solid #39302B;
}

#main_grid table.weeklist td.weekdays {
    height: 49px;
    width: 100%;
    padding: 4px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 2px solid #39302B;
}

#main_grid h3.weekly {
    text-align: center;
    padding-left: 0;
    font-size: large;
    height: 29px;
}

#main_grid h3 span.floatleft, #main_grid h3 span.floatright {
    display: block;
    font-weight: 700;
}

#main_grid table th.days {
    width: 14%;
    padding: 4px 0;
}

#main_grid table.weeklist h4.titlebg {
    margin: 2px 0 0;
    height: 23px;
    line-height: 27px;
}

#main_grid table td.weeks {
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    font-size: large;
}

#main_grid table td.days {
    vertical-align: top;
    text-align: center;
}

a.modify_event {
    color: red;
}

span.hidelink {
    font-style: italic;
}

#calendar_navigation {
    text-align: center;
}

#mlist_search {
    margin: auto;
    width: 500px;
}

#searchform, #simple_search p {
    padding: 0.5em;
    margin: 0;
}

#simple_search, #simple_search p, #advanced_search {
    text-align: center !important;
    margin: 0;
}

#search_error {
    font-style: italic;
    padding: 0.3em 1em;
}

#search_term_input {
    font-size: 115%;
    margin: 0 0 1em;
}

#searchform fieldset {
    text-align: left;
    padding: 0;
    margin: 0.5em 0;
    border: none;
}

#advanced_search dl#search_options {
    margin: 0 auto;
    width: 600px;
    padding-top: 1em;
    overflow: hidden;
}

#advanced_search dt {
    clear: both;
    float: left;
    padding: 0.2em;
    text-align: right;
    width: 20%;
}

#advanced_search dd {
    width: 75%;
    float: left;
    padding: 0.2em;
    margin: 0.5em;
    text-align: left;
}

#searchform p.clear {
    clear: both;
}

#searchform fieldset div#searchBoardsExpand ul {
    overflow: auto;
    margin: 0 0 0 1em;
    padding: 0;
    width: 48%;
}

#searchform fieldset div#searchBoardsExpand ul ul {
    width: auto;
}

#searchform fieldset div#searchBoardsExpand a {
    font-weight: 700;
    line-height: 1.5em;
    border-bottom: 1px solid #5B4E47;
}

#searchform fieldset div#searchBoardsExpand li {
    list-style: none;
    float: left;
    clear: both;
}

#searchform fieldset p {
    padding: 4px;
    text-align: left;
    margin-top: 5px;
}

.topic_table td blockquote, .topic_table td .quoteheader {
    margin: 0.5em;
}

.search_results_posts {
    overflow: hidden;
}

.search_results_posts .buttons {
    padding: 5px 1em 0 0;
}

#help_container {
    margin: 8px 0 0;
    padding: 0 0 8px;
}

#helpmain {
    padding: 0 1em;
}

#helpmain .help_sample {
    border: 1px solid #5B4E47;
    background: #39302B;
    padding: 1em;
    overflow: auto;
    margin-bottom: 1em;
}

#helpmain .help_sample .navigate_section {
    margin: 0;
}

#helpmain .help_sample .navigate_section ul {
    padding-top: 0;
    border: none;
}

#helpmain p {
    margin: 0 0 1.5em 0;
    line-height: 1.5em;
}

#helpmain ol {
    font-weight: 700;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1.5em;
}

#helpmain ol.la {
    font-weight: normal;
    list-style-type: circle;
    margin: 0.5em 0 1em;
    padding-left: 1.5em;
}

ul.basic_helplist {
    padding: 0.8em 1.5em;
    line-height: 1.5em;
}

#helpmain #messageindex {
    clear: right;
}

#top_bar {
    background: #E1E2DE url(../img/top_border.png) 0 100% repeat-x;
    padding: 10px 0;
}

#time {
    color: #6B605B;
    text-shadow: 1px 1px 0 #FFF;
    font-weight: 700;
    padding-left: 15px;
}

#time strong, #time a {
    color: #A9517B;
    padding-left: 10px;
}

#main_body {
    background: #dddcd8 url(../img/main_body_bg.jpg) 50% 0 no-repeat;
}

#main_body .wrapper {
    position: relative;
    padding-top: 80px;
}

#search {
    position: absolute;
    top: -11px;
    right: 0;
    width: 292px;
    height: 52px;
    background: url(../img/search.png) no-repeat;
}

#search .search_input {
    background: transparent;
    margin: 12px 10px 5px 95px;
    border: none;
    outline: none;
    color: #CCC;
    height: 16px;
    padding: 4px 5px;
    width: 156px;
}

.content_wrap_top {
    background: url(../img/ct_top_l.png) 0 0 no-repeat;
}

.content_wrap_topr {
    background: url(../img/ct_top_r.png) 100% 0 no-repeat;
    padding: 0 12px;
}

.content_wrap_topm {
    background: url(../img/ct_top.png) 0 0 repeat-x;
    height: 12px;
    overflow: hidden;
}

.content_wrap {
    background: url(../img/ct_left.png) 0 0 repeat-y;
}

.content_wrap_right {
    background: url(../img/ct_right.png) 100% 0 repeat-y;
    padding: 0 12px;
}

.content_wrap_mid {
    background: #39302B;
}

.content_wrap_bot {
    background: url(../img/ct_bot_l.png) 0 0 no-repeat;
}

.content_wrap_botr {
    background: url(../img/ct_bot_r.png) 100% 0 no-repeat;
    padding: 0 12px;
}

.content_wrap_botm {
    background: url(../img/ct_bot.png) 0 0 repeat-x;
    height: 12px;
    overflow: hidden;
}

#toolbar {
    background: url(../img/toolbar.png) 0 0 repeat-x;
    height: 45px;
}

#toolbar_left {
    background: url(../img/toolbar_l.png) 0 0 no-repeat;
}

#toolbar_right {
    background: url(../img/toolbar_r.png) 100% 0 no-repeat;
    padding: 0 8px;
}

#topnav {
    float: left;
    height: 42px;
}

#topnav, #topnav ul {
    margin: 0;
    padding: 0;
    z-index: 1000;
}

ul#topnav {
    margin-top: 3px;
}

#topnav li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

#topnav li a {
    display: block;
    float: left;
    padding: 0 0 0 16px;
    height: 42px;
    line-height: 42px;
    color: #181818;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    text-shadow: 1px 1px 0 #5B4E47;
    font-family: tahoma;
}

#topnav li a span {
    padding: 0 16px 0 0;
    display: block;
}

#topnav li a.active {
    background: url(../img/topnav.png) 0 0 no-repeat;
}

#topnav li a.active span {
    background: url(../img/topnav.png) 100% 0 no-repeat;
    color: white;
}

#topnav li a:hover, #topnav li:hover a {
    background: url(../img/topnav.png) 0 -42px no-repeat;
}

#topnav li a:hover span, #topnav li:hover a span {
    background: url(../img/topnav.png) 100% -42px no-repeat;
    color: #FFF;
}

#topnav li:hover li a, #topnav li:hover li a span {
    background: none;
}

#topnav li li {
    width: 200px;
    height: auto;
    padding: 0;
    margin: 0;
}

#topnav li li a, #topnav .chosen li a, #topnav li:hover li a, #topnav li.sfhover li a {
    background: none;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 16px;
    width: 168px;
    float: none;
    color: #AAA;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 1px solid #292929;
}

#topnav ul li a:hover, #topnav ul li a:hover span {
    background: none;
    text-decoration: none;
}

#topnav li ul li a:hover {
    color: white;
}

#topnav ul li a.subchild, #topnav ul li.sfhover a.subchild {
    background: url(../img/topnav_arrow.png) 94% 50% no-repeat;
}

#topnav li ul {
    background: #433935;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    position: absolute;
    width: 200px;
    left: -999em;
}

#topnav li:hover ul, #topnav li.sfhover ul {
    top: 42px;
    left: 2px;
}

#topnav li:hover li ul, #topnav li.sfhover li ul, #topnav li li:hover li ul, #topnav li li.sfhover li ul {
    top: -999em;
}

#topnav li li:hover ul, #topnav li li li:hover ul, #topnav li li.sfhover ul, #topnav li li li.sfhover ul {
    left: 190px;
    top: 3;
}

#header_left {
    background: url(../img/header_l.png) 0 0 no-repeat;
}

#header_right {
    background: url(../img/header_r.png) 100% 0 no-repeat;
    padding: 0 8px;
}

#header {
    background: url(../img/header.png) 0 0 repeat-x;
    height: 140px;
}

#logo a {
    float: left;
    display: block;
    width: 400px;
    height: 140px;
    background: url(../img/logo.png) no-repeat;
}

#member_login {
    float: right;
    background: url(../img/member_login_bg.png) no-repeat;
    width: 440px;
    height: 130px;
}

#member_login2 {
    float: right;
    background: url(../img/member_login_bg2.png) no-repeat;
    width: 270px;
    height: 130px;
}

#login_form {
    padding: 30px 0 0 40px;
}

input.login_input {
    float: left;
    background: url(../img/login_input.png) no-repeat;
    color: #EEE;
    border: none;
    outline: none;
    font-size: 12px;
    width: 124px;
    height: 16px;
    padding: 5px 8px;
    margin: 12px 9px 0 0;
}

#login_button {
    background: url(../img/login_button.png) no-repeat;
    width: 92px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 12px 9px 0 0;
    cursor: pointer;
    float: right;
}

#reminder {
    clear: both;
    padding: 13px 0 0 2px;
}

#reminder a {
    padding-right: 12px;
}

#member_login a:link, #member_login a:visited {
    color: #EEE;
    font-weight: 700;
}

#member_login ul, #member_login ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#member_login ul li a.dot {
    background: url(../img/list_arrow.png) 0 50% no-repeat;
    padding: 0 5px 0 15px;
}

#member_login ul li.greeting {
    font-size: 120%;
    padding: 4px 0;
    font-weight: 700;
    color: #333;
}

p.ds_avatar, p.no_avatar {
    float: left;
    padding: 0 20px 0 0;
    margin: 5px 0 0 10px;
}

p.ds_avatar img, p.no_avatar a {
    display: block;
    width: 65px;
    height: 65px;
}

.no_avatar a {
    background: url(../img/noavatar.png) no-repeat;
}

#main_content {
    background: #39302B url(../img/main_content_shad.png) 50% 0 no-repeat;
    padding: 10px 4px;
}

#footer {
    text-align: center;
    color: #666;
    padding: 20px;
    font-size: 12px;
    line-height: 120%;
}

#footer ul li {
    display: inline;
    padding-right: 5px;
}

#footer ul li a {
    font-size: 12px;
    font-family: tahoma;
    color: #34929C;
}

#footer ul li.copyright {
    display: block;
}

#footer p {
    margin: 0;
}