.gTableTop {
    height: 33px;
    padding: 0 0 0 22px;
    font-size: 11px;
    font-weight: 700;
    color: #CCC;
    background: url(/img/toolbar2.png) no-repeat 0 0;
}

.gTable {
    background: #39302b
}

.gTable2 {
    background: repeat-x;
}

#pmSubject, #message {
    width: 98% !important;
}

.gTableSubTop {
    padding: 2px;
    background: #2D2622;
    color: #AAA;
    height: 10px;
    font-size: 10px;
}

.gTableBody {
    padding: 2px;
    background: #2D2622;
}

.gTableRight {
    border-right: 1px solid #191512;
    border-left: 1px solid #191512;
    border-bottom: 1px solid #191512;
    padding: 2px;
    background: #28221D;
}

.gTableBody1 {
    border-right: 1px solid #191512;
    border-bottom: 1px solid #191512;
    padding: 2px;
    background: #28221D;
}

.gTableBottom {
    padding: 2px;
    background: #2D2622;
}

.gTableLeft {
    border-right: 1px solid #191512;
    border-left: 1px solid #191512;
    border-bottom: 1px solid #191512;
    padding: 2px;
    background: #28221D;
}

.gTableError {
    padding: 2px;
    background: #2D2622;
    color: #FF0;
}

.forumNameTd, .forumLastPostTd {
    padding: 2px;
    background: #28221D;
}

.threadIcoTd, .threadPostTd, .threadViewTd {
    border-bottom: 1px solid #191512;
    border-right: 1px solid #191512;
    padding: 2px;
    background: #28221D;
}

.threadNametd {
    padding-left: 5px;
    border-bottom: 1px solid #191512;
    border-right: 1px solid #191512;
    background: #28221D;
}

.threadAuthTd, .threadLastPostTd {
    padding: 2px;
    border-bottom: 1px solid #191512;
    border-right: 1px solid #191512;
    background: #28221D;
}

.forumNameTd {
    padding: 0 2px;
    background: #28221D no-repeat 0 43px;
    border-bottom: 1px solid #191512;
    border-right: 1px solid #191512;
}

.forumIcoTd, .forumThreadTd, .forumPostTd {
    border-bottom: 1px solid #191512;
    border-right: 1px solid #191512;
    padding: 2px;
    background: #28221D;
}

.forumLastPostTd, .forumArchive {
    padding: 2px;
    font-size: 9pt;
}

.forumLastPostTd {
    padding: 0 2px;
    background: #28221D;
    border-bottom: 1px solid #191512;
    border-right: 1px solid #191512;
}

.catLink:link, .catLink:active, .catLink:visited {
    color: #FFF;
    font-family: Tahoma;
    font-size: 1em;
    font-weight: 700;
}

.lastPostGuest, .lastPostUser, .threadAuthor {
    font-weight: 700;
}

.archivedForum {
    font-size: 9pt;
    color: #FF0;
    font-weight: 700;
}

.forum {
    font-weight: 700;
    font-size: 9pt;
}

.forumDescr, .forumModer {
    color: #534F4C;
    font-size: 9pt;
}

.forumViewed {
    font-size: 9px;
}

.forumLastPostTd, .threadLastPostTd {
    font-size: 7pt;
    color: #A3BA21;
    padding: 5px 0 5px 15px;
    line-height: 1.7;
}

.forumLastPostTd a:link, .threadLastPostTd a:link, .forumLastPostTd a:visited, .threadLastPostTd a:visited, .forumThreadTd, .forumPostTd, .forumLastPostTd a:active, .threadLastPostTd a:active {
    font-size: 9pt;
    color: #534F4C;
    text-decoration: none;
}

.forumLastPostTd a:hover, .threadLastPostTd a:hover {
    color: #534F4C;
}

.forumNamesBar {
    font-weight: 700;
    font-size: 7pt;
}

.forumBarKw {
    font-weight: normal;
}

a.forumBarA:link {
    text-decoration: none;
    color: #000;
}

a.forumBarA:visited {
    text-decoration: none;
    color: #000;
}

a.forumBarA:hover {
    text-decoration: none;
    color: #6E6E6E;
}

a.forumBarA:active {
    text-decoration: underline;
    color: #6E6E6E;
}

.fastNavMain {
    background: #DADADA;
}

.fastNavCat {
    background: #EFE;
}

.fastNavCatA {
    background: #EFE;
    color: #00F;
}

.fastNavForumA {
    color: #0FF;
}

.pagesInfo {
    background: #28221D;
    padding-right: 10px;
    font-size: 7pt;
}

.switches {
    background: #2D2622;
}

.switch {
    width: 15px;
    font-size: 7pt;
}

.switchActive {
    font-weight: 700;
    width: 15px;
}

a.switchDigit:link, a.switchBack:link, a.switchNext:link {
    text-decoration: none;
}

a.switchDigit:visited, a.switchBack:visited, a.switchNext:visited {
    text-decoration: none;
}

a.switchDigit:hover, a.switchBack:hover, a.switchNext:hover {
    text-decoration: none;
}

a.switchDigit:active, a.switchBack:active, a.switchNext:active {
    text-decoration: none;
}

.threadNametd, .threadAuthTd, .threadLastPostTd {
    padding: 2px;
    background: #28221D;
}

.threadIcoTd, .threadPostTd, .threadViewTd {
    padding: 2px;
    background: #2D2622;
}

.threadLastPostTd {
    padding: 2px;
    font-size: 9pt;
}

.threadDescr {
    color: #858585;
    font-size: 9pt;
}

.threadNoticeLink {
    font-weight: 700;
}

.threadsType {
    padding: 2px;
    background: #FCFF7C;
    height: 20px;
    font-weight: 700;
    font-size: 9pt;
    color: #000000;
    padding-left: 40px;
}

.threadsDetails {
    padding: 2px;
    background: #2D2622;
    height: 20px;
    color: #6E6E6E;
}

.forumOnlineBar {
    padding: 2px;
    background: #2D2622;
    height: 20px;
    color: #6E6E6E;
}

a.threadPinnedLink:link {
    text-decoration: none;
    color: #0000FF;
}

a.threadPinnedLink:visited {
    text-decoration: none;
    color: #0FF;
}

a.threadPinnedLink:hover {
    text-decoration: none;
    color: #FF0;
}

a.threadPinnedLink:active {
    text-decoration: underline;
    color: #FF0;
}

a.threadLink:link {
    color: #A3BA21;
    text-decoration: none;
}

a.threadLink:visited {
    color: #BC5B8A;
    text-decoration: none;
}

a.threadLink:hover {
    color: #A3BA21;
    text-decoration: none;
}

a.threadLink:active {
    color: #A3BA21;
    text-decoration: none;
}

.postpSwithces {
    font-size: 9pt;
}

.thDescr {
    font-weight: normal;
}

.threadFrmBlock {
    font-size: 9pt;
    text-align: right;
}

.postTable {
    background: url(../img/trans-10.png);
}

.postPoll {
    background: #2D2622;
    text-align: center;
}

.postFirst {
    background: #2D2622;
    border-bottom: 3px solid #787878;
}

.postRest1 {
    background: #2D2622;
}

.postRest2 {
    background: #2D2622;
}

.postSeparator {
    height: 3px;
    background: #FCFF7C;
}

.postTdTop {
    background: #2D2622 url(../img/trans-10.png);
    height: 20px;
    font-size: 10px;
}

.postBottom {
    background: #2D2622 url(../img/trans-10.png);
    height: 20px;
}

.postUser {
    font-weight: 700;
}

.postTdInfo {
    text-align: center;
    padding: 5px;
}

.postRankName {
    margin-top: 5px;
}

.postRankIco {
    margin-bottom: 5px;
}

.reputation {
    margin-top: 5px;
}

.signatureHr {
    margin-top: 20px;
    color: #787878;
}

.posttdMessage {
    padding: 5px;
    background: #28221D;
}

.pollQuestion {
    text-align: center;
    font-weight: 700;
}

.pollButtons, .pollTotal {
    text-align: center;
}

.pollSubmitBut, .pollreSultsBut {
    width: 140px;
    font-size: 9pt;
}

.pollSubmit {
    font-weight: 700;
}

.pollEnd {
    text-align: center;
    height: 30px;
}

.bbCodeName {
    font-weight: normal;
    color: #000;
    font-size: 13px !important;
    padding: 2px 10px 0 0;
}

.bbCodeName {
    font-weight: normal;
    color: #666;
    font-size: 13px !important;
    padding: 2px 10px 0 0;
}

.bbCodeBlock {
    background: #2D2622;
    margin: 10px;
    border-left: 5px solid #A3BA21;
!important;
    border-top-right-radius: 4px;
}

.codeMessage {
    margin: 3px;
    padding: 5px;
    border: none !important;
    background: #4D423C !important;
    line-height: 2;
    font-size: 8pt;
    max-height: 10000px !important;
}

.bbQuoteName {
    font-weight: normal;
    color: #000;
    font-size: 13px !important;
    padding: 2px 10px 0 0;
}

.bbQuoteName {
    font-weight: normal;
    color: #666;
    font-size: 13px !important;
    padding: 2px 10px 0 0;
}

.bbQuoteBlock {
    background: #2D2622;
    margin: 10px;
    border-left: 5px solid #2D808A;
!important;
    border-top-right-radius: 4px;
}

.quoteMessage {
    margin: 3px;
    padding: 5px;
    border: none !important;
    background: #4D423C !important;
    line-height: 2;
    font-size: 8pt;
    max-height: 10000px !important;
}

.signatureView {
    font-size: 9pt;
}

.edited {
    padding-top: 30px;
    font-size: 9pt;
    text-align: right;
    color: gray;
}

.editedBy {
    font-weight: 700;
    font-size: 10pt;
}

.statusBlock {
    padding-top: 3px;
}

.statusOnline {
    color: #0FF;
}

.statusOffline {
    color: #FF0;
}

.newThreadBlock {
    background: #F9F9F9;
    border: 1px solid #B2B2B2;
}

.newPollBlock {
    background: #F9F9F9;
    border: 1px solid #B2B2B2;
}

.newThreadItem {
    padding: 0 0 0 8px;
    background: url('#') no-repeat 0 4px;
}

.newPollItem {
    padding: 0 0 0 8px;
    background: url('#') no-repeat 0 4px;
}

.searchQueryFl {
    width: 200px !important;
}

.codeButtons {
    font-size: 7pt;
}

.codeCloseAll {
    font-size: 7pt;
    color: #6E6E6E;
    font-weight: 700;
}

.postPollFl, .postQuestionFl {
    background: #FCFCFC;
    border: 1px solid #6E6E6E;
    width: 400px;
}

.postResultFl {
    background: #FCFCFC;
    border: 1px solid #6E6E6E;
    width: 50px;
}

.postAnswerFl {
    background: #FCFCFC;
    border: 1px solid #6E6E6E;
    width: 300px;
}

.postUserFl {
    background: #FCFCFC;
    border: 1px solid #6E6E6E;
    width: 300px;
}

.pollHelp {
    font-weight: normal;
    font-size: 9pt;
    padding-top: 3px;
}

.smilesPart {
    padding-top: 5px;
    text-align: center;
}

input {
    background: #4F423B repeat-x left top;
    border: 1px solid #4D423C;
    color: #CCC;
    padding: 2px;
    font-weight: 700;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

input [type="text"], input[type="password"] {
    color: #CCC;
}

input [type="submit"] {
    color: #CCC;
}

input [type="button"] {
    color: #CCC;
}

input [type="submit"] {
    color: #CCC;
}

input [type="reset"] {
    color: #CCC;
}

.twbutton {
    background-color: #39D;
    background: #2D2622;
    background-position: 0 0;
    color: #4D423C !important;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 5px 9px;
}

.twbutton:hover {
    background-color: #3399DD;
    background: #A3BA21;
}

div.BanRating0, div.BanRating1, div.BanRating2, div.BanRating3, div.BanRating4, div.BanRating5 {
    height: 19px;
    width: 107px;
    margin: 0 3px;
}

div.BanRating0 {
    background: url('/img/BanRating0.png') no-repeat center;
}

div.BanRating1 {
    background: url('/img/BanRating1.png') no-repeat center;
}

div.BanRating2 {
    background: url('/img/BanRating2.png') no-repeat center;
}

div.BanRating3 {
    background: url('/img/BanRating3.png') no-repeat center;
}

div.BanRating4 {
    background: url('/img/BanRating4.png') no-repeat center;
}

div.BanRating5 {
    background: url('/img/BanRating5.png') no-repeat center;
}

div.BanRatingPlus, div.BanRatingMinus {
    height: 19px;
    width: 24px;
}

div.BanRatingPlus {
    background: url('/img/BanRatingPlus.png') no-repeat;
}

div.BanRatingMinus {
    background: url('/img/BanRatingMinus.png') no-repeat;
}

div.BanRatingPlus:hover, div.BanRatingMinus:hover {
    background-position: 0 -19px;
}

a.adv-link {
    padding: 5px;;
    color: #ccc;
    text-shadow: 1px 1px 0 #303030;;
    font-size: 11px;
    font-weight: 700;
}

a.adv-link:hover {
    color: #fff;
}

.LinksTheme {
    border: 1px solid #191512;
    background: #28221D;
    margin-top: 3px;
}

.LinkFirstTD {
    border: 0;
    border-right: 1px dotted #191512;
    background: #28221D;
    padding: 3px 5px;
}

.LinkTwoTD {
    background: #28221D;
    padding: 3px;
}

.LinkTwoTD input {
    border: 1px solid #191512;
    background: #4D423C;
    padding: 3px;
    width: 99%;
}