﻿<div class="gDivLeft">
    <div class="gDivRight">
        <table border="0" width="100%" cellspacing="1" cellpadding="0" class="gTable" id="frM53">
            <tr id="frM54">
                <td colspan="2" class="gTableTop" id="frM55">
                    <div style="float:right" class="gTopCornerRight"></div>
                    <a name="post">$FORM_TITLE$</a></td>
            </tr>
            <?if($ERROR$)?>
            <tr id="frM1">
                <td colspan="2" align="center" class="gTableError" id="frM2">$ERROR$</td>
            </tr>
            <?endif?>
            <?if($_USER$)?>
            <tr id="frM3">
                <td class="gTableLeft" id="frM4">Имя:</td>
                <td class="gTableRight" id="frM5">$_USER$</td>
            </tr>
            <?endif?>
            <?if($_THREAD_NAME$)?>
            <tr id="frM25">
                <td class="gTableLeft" id="frM26">Название темы:</td>
                <td class="gTableRight" id="frM27">$_THREAD_NAME$</td>
            </tr>
            <tr id="frM28">
                <td class="gTableLeft" id="frM29">Описание темы:</td>
                <td class="gTableRight" id="frM30">$_THREAD_DESCR$</td>
            </tr>
            <?endif?>
            <?if($_POLL_QUESTION$)?>
            <tr id="frM31">
                <td class="gTableRight" colspan="2" id="frM32">&nbsp;</td>
            </tr>
            <tr id="frM33">
                <td class="gTableLeft" id="frM34">Вопрос голосования:</td>
                <td class="gTableRight" id="frM35">$_POLL_QUESTION$</td>
            </tr>
            <tr id="frM36">
                <td class="gTableLeft" id="frM37">Пункты опроса:
                    <div class="pollHelp">Введите по одному ответу на строку. Максимум <b>10</b> ответов.</div>
                </td>
                <td class="gTableRight" id="frM38">$_POLL_ANSWERS$</td>
            </tr>
            <tr id="frM40">
                <td class="gTableLeft" id="frM41">Опции опроса:</td>
                <td class="gTableRight" id="frM42">$_POLL_ONLY_OPT$ <label for="pollonly">Только опрос (писать ответы в
                    теме будет нельзя)</label><br/>$_POLL_MULTI_OPT$ <label for="pollmulty">Включить возможность выбора
                    нескольких вариантов ответов</label><br/>$_POLL_PERIOD_OPT$ Период голосования (0 - без ограничений)
                </td>
            </tr>
            <tr id="frM43">
                <td class="gTableRight" colspan="2" id="frM44">&nbsp;</td>
            </tr>
            <?endif?>
            <tr id="frM56">
                <td width="25%" class="gTableLeft" id="frM57" valign="top">

                    <a title="" onclick="$('#stats').slideToggle('fast');">
                        <div style="width:235px; text-align:center;" class="twbutton">Мини Меню</div>
                    </a>
                    <div id="stats" style="display:none;">
                        <a href="javascript://"
                           onclick="window.open('/index/17','options','scrollbars=1,top=0,left=0,resizable=1,width=680,height=350'); return false;">
                            <div style="width:235px; text-align:center;" class="twbutton">Все ББ Коды</div>
                        </a>
                        <a href="javascript://"
                           onclick="openLayerB('Sml',0,'/index/35-1-0','Полный список смайлов',270,250); return false;">
                            <div style="width:235px; text-align:center;" class="twbutton">Смайлы</div>
                        </a>
                        <a href="javascript://"
                           onClick="emoticon('[spoiler=Название спойлера:] содержимое спойлера[/spoiler]');return false;">
                            <div style="width:235px; text-align:center;" class="twbutton">Title Спойлер</div>
                        </a>
                        <a href="javascript://"
                           onClick="emoticon('[c][url=тут ссылка][img]http://surfturf.ucoz.ru/img/down.png[/img][/url][/c]');return false;">
                            <div style="width:235px; text-align:center;" class="twbutton">Кнопка "Скачать"</div>
                        </a>
                    </div>

                <td class="gTableRight" id="frM58">$BBCODES$ $_MESSAGE$</td>
                <?if($MESSAGE_OPTIONS_FLAG$)?>
            <tr id="frM14">
                <td class="gTableLeft" id="frM15">Опции сообщения:</td>
                <td class="gTableRight" id="frM16">
                    <?if($_HTML_OPT$)?>
                    $_HTML_OPT$ <label for="ahtml">Включить HTML теги</label><br/>$_MAKE_BR_OPT$ <label for="frmt">Заменять
                    переводы строк тегом <b>&lt;BR></b></label><br>
                    <?endif?>
                    <?if($_EDITED_OPT$)?>
                    $_EDITED_OPT$ <label for="edited">Добавить надпись &quot;Отредактировано...&quot; в это
                    сообщение?</label><br/>
                    <?endif?>
                    <?if($_SMILES_OPT$)?>
                    $_SMILES_OPT$ <label for="smon">Включить смайлы</label><br/>
                    <?endif?>
                    <?if($_SIGNATURE_OPT$)?>
                    $_SIGNATURE_OPT$ <label for="sgon">Включить подпись</label><br/>
                    <?endif?>
                    <?if($_SUBSCRIBE_OPT$)?>
                    $_SUBSCRIBE_OPT$ <label for="sbon">Уведомления на e-mail при ответах</label><br/>
                    <?endif?>
                </td>
            </tr>
            <?endif?>
            <?if($MODER_OPTIONS_FLAG$)?>
            <tr id="frM6">
                <td class="gTableLeft" id="frM7">Опции темы:</td>
                <td class="gTableRight" id="frM8">
                    <?if($_FIRSTONTOP_OPT$)?>
                    $_FIRSTONTOP_OPT$ <label for="firstontop">Первое сообщение темы сделать шапкой (показывать на всех
                    страницах)</label><br/>
                    <?endif?>
                    <?if($_ONTOP_OPT$)?>
                    $_ONTOP_OPT$ <label for="isontop">Тема всегда сверху</label><br/>
                    <?endif?>
                    <?if($_CLOSED_OPT$)?>
                    $_CLOSED_OPT$ <label for="isclosed">Закрытая тема</label>
                    <?endif?>
                </td>
            </tr>
            <?endif?>
            <?if($_FILES_UPLOADER$)?>
            <tr id="frM50">
                <td class="gTableLeft" id="frM51">Прикрепить файл: <span style="font-size:7pt;">(не более <b>$FILE_MAX_SIZE$</b>Kb)</span>
                </td>
                <td class="gTableRight" id="frM52">$_FILES_UPLOADER$</td>
            </tr>
            <?endif?>
            <?if($_SECURITY_CODE$)?>
            <tr id="frM45">
                <td class="gTableLeft" id="frM46">Код безопасности:</td>
                <td class="gTableRight" id="frM47">$_SECURITY_CODE$</td>
            </tr>
            <?endif?>
            <tr id="frM59">
                <td class="gTableRight" colspan="2" align="center" id="frM60"><input style="width:110px;" id="frF15"
                                                                                     class="postPreview" type="button"
                                                                                     value="Просмотреть"
                                                                                     onclick="prepost();"/> <input
                        type="submit" id="frF16" name="sbm" style="width:150px;font-weight:bold;" class="postSubmit"
                        value="$SUBMIT_SIGN$"/> <input style="width:110px;" id="frF17" class="postReset" type="reset"
                                                       value="Отменить"/></td>
            </tr>
        </table>
    </div>
</div>
<div class="gDivBottomLeft"></div>
<div class="gDivBottomCenter"></div>
<div class="gDivBottomRight"></div>